.ce-block__content,
.ce-toolbar__content {
    max-width:100%;
}

.ct {
    z-index:1001;
}

.cdx-warning {
    position: relative;
    background: #ffeaed;
    padding: 0;
}

.cdx-warning__title {
    background: #f02849;
    color: white;
    font-weight: 600;
    border: 0;
    padding: 4px 8px;
    border-radius: 0;
    margin: 0;
}

.cdx-warning__message {
    min-height: auto;
    border: 0;
    box-shadow: none;
    border-radius: 0;
}
